
body {
  font-size: 16px;
  color: #fff;
  background-color: #ffffff;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 3px outset black;
}

.navbar-brand {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggler {
  margin-top: -20px;
  margin-right:0;
  margin-left:auto;
}

.navbar-toggler-icon {
  border: 1px outset black;
}

.icon-bar{
  background-color: white;
}


.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

li{
  box-sizing: border-box;
  width: 100%;
}

.menu-item{
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  color: black;
  display: block;
}

.menu-item:hover{
  background-color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.4);
}



.row{
  margin: 20px;
}

.content-box{
  margin: 20px;
  width: auto;
  height: auto;
  color: black;
  background-color: rgba(0,0,0,0.2);
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 20px;
}

.item-name{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#top{

}
